<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.stu.school.dao.WebContentMapper" >
  <resultMap id="BaseResultMap" type="com.sy.stu.school.pojo.po.WebContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="colors" property="colors" jdbcType="VARCHAR" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="viewcount" property="viewcount" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="open" property="open" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="showpic" property="showpic" jdbcType="INTEGER" />
    <result column="showstr" property="showstr" jdbcType="INTEGER" />
    <result column="bid" property="bid" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sy.stu.school.pojo.po.WebContentWithBLOBs" extends="BaseResultMap" >
    <result column="con" property="con" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, colors, pic, viewcount, state, open, addtime, showpic, showstr, bid, sid, 
    tid, fid
  </sql>
  <sql id="Blob_Column_List" >
    con, content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.sy.stu.school.pojo.po.WebContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from web_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sy.stu.school.pojo.po.WebContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from web_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from web_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from web_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.stu.school.pojo.po.WebContentExample" >
    delete from web_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.stu.school.pojo.po.WebContentWithBLOBs" >
    insert into web_content (id, title, colors, 
      pic, viewcount, state, 
      open, addtime, showpic, 
      showstr, bid, sid, 
      tid, fid, con, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{colors,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{viewcount,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{open,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, #{showpic,jdbcType=INTEGER}, 
      #{showstr,jdbcType=INTEGER}, #{bid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, 
      #{tid,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{con,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.stu.school.pojo.po.WebContentWithBLOBs" >
    insert into web_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="colors != null" >
        colors,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="viewcount != null" >
        viewcount,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="open != null" >
        open,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="showpic != null" >
        showpic,
      </if>
      <if test="showstr != null" >
        showstr,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="con != null" >
        con,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="colors != null" >
        #{colors,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null" >
        #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="open != null" >
        #{open,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="showpic != null" >
        #{showpic,jdbcType=INTEGER},
      </if>
      <if test="showstr != null" >
        #{showstr,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="con != null" >
        #{con,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.stu.school.pojo.po.WebContentExample" resultType="java.lang.Integer" >
    select count(*) from web_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update web_content
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.colors != null" >
        colors = #{record.colors,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.viewcount != null" >
        viewcount = #{record.viewcount,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.open != null" >
        open = #{record.open,jdbcType=INTEGER},
      </if>
      <if test="record.addtime != null" >
        addtime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.showpic != null" >
        showpic = #{record.showpic,jdbcType=INTEGER},
      </if>
      <if test="record.showstr != null" >
        showstr = #{record.showstr,jdbcType=INTEGER},
      </if>
      <if test="record.bid != null" >
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.con != null" >
        con = #{record.con,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update web_content
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      colors = #{record.colors,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      viewcount = #{record.viewcount,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      open = #{record.open,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      showpic = #{record.showpic,jdbcType=INTEGER},
      showstr = #{record.showstr,jdbcType=INTEGER},
      bid = #{record.bid,jdbcType=INTEGER},
      sid = #{record.sid,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      fid = #{record.fid,jdbcType=INTEGER},
      con = #{record.con,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update web_content
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      colors = #{record.colors,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      viewcount = #{record.viewcount,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      open = #{record.open,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      showpic = #{record.showpic,jdbcType=INTEGER},
      showstr = #{record.showstr,jdbcType=INTEGER},
      bid = #{record.bid,jdbcType=INTEGER},
      sid = #{record.sid,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      fid = #{record.fid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.stu.school.pojo.po.WebContentWithBLOBs" >
    update web_content
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="colors != null" >
        colors = #{colors,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null" >
        viewcount = #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="open != null" >
        open = #{open,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="showpic != null" >
        showpic = #{showpic,jdbcType=INTEGER},
      </if>
      <if test="showstr != null" >
        showstr = #{showstr,jdbcType=INTEGER},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="con != null" >
        con = #{con,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sy.stu.school.pojo.po.WebContentWithBLOBs" >
    update web_content
    set title = #{title,jdbcType=VARCHAR},
      colors = #{colors,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      viewcount = #{viewcount,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      open = #{open,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      showpic = #{showpic,jdbcType=INTEGER},
      showstr = #{showstr,jdbcType=INTEGER},
      bid = #{bid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER},
      con = #{con,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.stu.school.pojo.po.WebContent" >
    update web_content
    set title = #{title,jdbcType=VARCHAR},
      colors = #{colors,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      viewcount = #{viewcount,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      open = #{open,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      showpic = #{showpic,jdbcType=INTEGER},
      showstr = #{showstr,jdbcType=INTEGER},
      bid = #{bid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>