<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.stu.school.dao.WebJobsMapper" >
  <resultMap id="BaseResultMap" type="com.sy.stu.school.pojo.po.WebJobs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="depar" property="depar" jdbcType="VARCHAR" />
    <result column="telper" property="telper" jdbcType="VARCHAR" />
    <result column="men" property="men" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="viewcount" property="viewcount" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="open" property="open" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="INTEGER" />
    <result column="recommend" property="recommend" jdbcType="INTEGER" />
    <result column="colors" property="colors" jdbcType="VARCHAR" />
    <result column="bid" property="bid" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="recyle" property="recyle" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sy.stu.school.pojo.po.WebJobs" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, depar, telper, men, money, address, viewcount, state, open, addtime, sort, 
    comment, recommend, colors, bid, sid, tid, fid, recyle
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.sy.stu.school.pojo.po.WebJobsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from web_jobs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sy.stu.school.pojo.po.WebJobsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from web_jobs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from web_jobs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from web_jobs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.stu.school.pojo.po.WebJobsExample" >
    delete from web_jobs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.stu.school.pojo.po.WebJobs" >
    insert into web_jobs (id, title, depar, 
      telper, men, money, 
      address, viewcount, state, 
      open, addtime, sort, 
      comment, recommend, colors, 
      bid, sid, tid, fid, 
      recyle, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{depar,jdbcType=VARCHAR}, 
      #{telper,jdbcType=VARCHAR}, #{men,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{viewcount,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, 
      #{open,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, #{sort,jdbcType=INTEGER}, 
      #{comment,jdbcType=INTEGER}, #{recommend,jdbcType=INTEGER}, #{colors,jdbcType=VARCHAR}, 
      #{bid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, 
      #{recyle,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.stu.school.pojo.po.WebJobs" >
    insert into web_jobs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="depar != null" >
        depar,
      </if>
      <if test="telper != null" >
        telper,
      </if>
      <if test="men != null" >
        men,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="viewcount != null" >
        viewcount,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="open != null" >
        open,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="colors != null" >
        colors,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="recyle != null" >
        recyle,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="depar != null" >
        #{depar,jdbcType=VARCHAR},
      </if>
      <if test="telper != null" >
        #{telper,jdbcType=VARCHAR},
      </if>
      <if test="men != null" >
        #{men,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null" >
        #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="open != null" >
        #{open,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=INTEGER},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=INTEGER},
      </if>
      <if test="colors != null" >
        #{colors,jdbcType=VARCHAR},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="recyle != null" >
        #{recyle,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.stu.school.pojo.po.WebJobsExample" resultType="java.lang.Integer" >
    select count(*) from web_jobs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update web_jobs
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.depar != null" >
        depar = #{record.depar,jdbcType=VARCHAR},
      </if>
      <if test="record.telper != null" >
        telper = #{record.telper,jdbcType=VARCHAR},
      </if>
      <if test="record.men != null" >
        men = #{record.men,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.viewcount != null" >
        viewcount = #{record.viewcount,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.open != null" >
        open = #{record.open,jdbcType=INTEGER},
      </if>
      <if test="record.addtime != null" >
        addtime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=INTEGER},
      </if>
      <if test="record.recommend != null" >
        recommend = #{record.recommend,jdbcType=INTEGER},
      </if>
      <if test="record.colors != null" >
        colors = #{record.colors,jdbcType=VARCHAR},
      </if>
      <if test="record.bid != null" >
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.recyle != null" >
        recyle = #{record.recyle,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update web_jobs
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      depar = #{record.depar,jdbcType=VARCHAR},
      telper = #{record.telper,jdbcType=VARCHAR},
      men = #{record.men,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      viewcount = #{record.viewcount,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      open = #{record.open,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      sort = #{record.sort,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=INTEGER},
      recommend = #{record.recommend,jdbcType=INTEGER},
      colors = #{record.colors,jdbcType=VARCHAR},
      bid = #{record.bid,jdbcType=INTEGER},
      sid = #{record.sid,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      fid = #{record.fid,jdbcType=INTEGER},
      recyle = #{record.recyle,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update web_jobs
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      depar = #{record.depar,jdbcType=VARCHAR},
      telper = #{record.telper,jdbcType=VARCHAR},
      men = #{record.men,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      viewcount = #{record.viewcount,jdbcType=INTEGER},
      state = #{record.state,jdbcType=INTEGER},
      open = #{record.open,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      sort = #{record.sort,jdbcType=INTEGER},
      comment = #{record.comment,jdbcType=INTEGER},
      recommend = #{record.recommend,jdbcType=INTEGER},
      colors = #{record.colors,jdbcType=VARCHAR},
      bid = #{record.bid,jdbcType=INTEGER},
      sid = #{record.sid,jdbcType=INTEGER},
      tid = #{record.tid,jdbcType=INTEGER},
      fid = #{record.fid,jdbcType=INTEGER},
      recyle = #{record.recyle,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.stu.school.pojo.po.WebJobs" >
    update web_jobs
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="depar != null" >
        depar = #{depar,jdbcType=VARCHAR},
      </if>
      <if test="telper != null" >
        telper = #{telper,jdbcType=VARCHAR},
      </if>
      <if test="men != null" >
        men = #{men,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null" >
        viewcount = #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="open != null" >
        open = #{open,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=INTEGER},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="colors != null" >
        colors = #{colors,jdbcType=VARCHAR},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="recyle != null" >
        recyle = #{recyle,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sy.stu.school.pojo.po.WebJobs" >
    update web_jobs
    set title = #{title,jdbcType=VARCHAR},
      depar = #{depar,jdbcType=VARCHAR},
      telper = #{telper,jdbcType=VARCHAR},
      men = #{men,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      viewcount = #{viewcount,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      open = #{open,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      sort = #{sort,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      recommend = #{recommend,jdbcType=INTEGER},
      colors = #{colors,jdbcType=VARCHAR},
      bid = #{bid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER},
      recyle = #{recyle,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.stu.school.pojo.po.WebJobs" >
    update web_jobs
    set title = #{title,jdbcType=VARCHAR},
      depar = #{depar,jdbcType=VARCHAR},
      telper = #{telper,jdbcType=VARCHAR},
      men = #{men,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      viewcount = #{viewcount,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      open = #{open,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      sort = #{sort,jdbcType=INTEGER},
      comment = #{comment,jdbcType=INTEGER},
      recommend = #{recommend,jdbcType=INTEGER},
      colors = #{colors,jdbcType=VARCHAR},
      bid = #{bid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER},
      recyle = #{recyle,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>